.grid {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
}

.grid div {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: blue;
}

.apple {
    background-color: purple;
}